<a href="https://colab.research.google.com/github/Nguyenthanhtrung99/Data-science/blob/master/Project_Housing_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
boston_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ST0151EN-SkillsNetwork/labs/boston_housing.csv'
boston_df=pd.read_csv(boston_url)

In [5]:
boston_df.head()

   Unnamed: 0     CRIM    ZN  INDUS  CHAS  ...  RAD    TAX  PTRATIO  LSTAT  MEDV
0           0  0.00632  18.0   2.31   0.0  ...  1.0  296.0     15.3   4.98  24.0
1           1  0.02731   0.0   7.07   0.0  ...  2.0  242.0     17.8   9.14  21.6
2           2  0.02729   0.0   7.07   0.0  ...  2.0  242.0     17.8   4.03  34.7
3           3  0.03237   0.0   2.18   0.0  ...  3.0  222.0     18.7   2.94  33.4
4           4  0.06905   0.0   2.18   0.0  ...  3.0  222.0     18.7   5.33  36.2

[5 rows x 14 columns]